<!DOCTYPE html>
<html>
<head>
 <title></title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">-->
</head>
<body>
<h2></h2><center><b><p style="font-family:Tahoma;color:red;font-size: 15px"><center><b><p style="font-family:Tahoma;color:red;font-size: 15px">Welcome to our first flask app!<br/>
               You can check if the following url is up or down.<br/>
               For more info head into /about</center></b></p>
<h2></h2><center><b><p style="font-family:Tahoma;color:red;font-size: 15px"><center><b><p style="font-family:Tahoma;color:red;font-size: 15px">
  <label>Enter Url:</label>
  <input type="url" id="url" name="url"><br><br>
<p align="center"><a href=data><button id="theme-toggle">Is it down?</button></a></p>
</body>
</html>
</body>
</html>
